/* GLOBAL STYLES */

body {
    margin: 0;
    background-color: #38383A;
    color: white;
}

h1,
h2,
h3 {
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
}

nav, 
#hamburger-bar {
    display: none;
}

nav {
    position: absolute;
    background-color: #9DFFB7;
}

nav a {
    text-decoration: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: block;
    padding: 5px 10px;
}

#hamburger-bar:checked ~ nav {
    display: block;
}

.logo {
    text-decoration: none;
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

footer {
    background-color: #9DFFB7;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    color: black;
}

.logo_footer {
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.footer_text {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


/* LANDING PAGE */

.background_image {
    background-image: url(images/landing-page_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.opening_hours {
    display: none;
}

.explore_button {
    text-decoration: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #9DFFB7;
    padding: 10px 50px;
    border-radius: 50px;
}


/* EXPLORE */

.explore_header {
    width: 100%;
    border-top: solid #9DFFB7;
    border-bottom: solid #9DFFB7;
}

.explore_images {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border: solid #9DFFB7;
}

.explore_text {
    text-align: center;
    padding: 0 15px;
}

.explore_earth {
    margin-bottom: 30px;
}

.lego_images {
    width: 60%;
    height: 150px;
    object-fit: cover;
    margin: 5px 0;
}
