/*---------------------------------------------------------------*/
/* GLOBAL STYLES */

main {
    padding-top: 105px;
}

body {
    margin: 0;
    background-color: #38383A;
    color: white;
    font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
.location_address {
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
}

nav, 
#hamburger-bar {
    display: none;
}

nav {
    position: absolute;
    background-color: #9DFFB7;
    right: 0px;
    top: 100px;
    width: 100%;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    padding: 5px 20px;
}

#hamburger-bar:checked ~ nav {
    display: block;
}

.logo {
    text-decoration: none;
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
    padding: 10px 0;
    font-size: 23px;
}

.header {
    background-color: #38383A;
}

footer {
    background-color: #9DFFB7;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    color: black;
}

.logo_footer {
    font-family: "Cinzel", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.footer_text {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sections {
    text-align: center;
    padding: 10px 20px 50px 20px;
}

.images {
    width: 100%;
    border: solid #9DFFB7;
}
/*---------------------------------------------------------------*/


/* LANDING PAGE */

.background_image {
    background: url(images/landing-page_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.landing-page_content {
    margin-top: 20%;
}

.landing-page_h1 {
    padding: 0 50% 5% 5%
}

.opening_hours {
    display: none;
}

.explore_button {
    text-decoration: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #9DFFB7;
    padding: 10px 50px;
    border-radius: 50px;
    margin-left: 5%;
}


/* EXPLORE PAGE */

.explore_headers {
    width: 100%;
    border-top: solid #9DFFB7;
    border-bottom: solid #9DFFB7;
}

.explore_images {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border: solid #9DFFB7;
}

.lego_images {
    width: 80%;
    height: 150px;
    object-fit: cover;
    margin: 5px 0;
}


/* VISIT PAGE */

.program_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    font-size: 20px;
}


/* ABOUT PAGE */

.about_image {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
}


/* CONTACT PAGE */

.contact_form,
.contact_form_message,
.contact_form_submit {
    display: flex;
    flex-direction: column;
}

.contact_form input {
    border-radius: 10px;
    height: 35px;
    width: 70%;
    margin: 5px auto 15px auto;
}

.contact_form_message textarea {
    border: solid #9DFFB7 5px;
    border-radius: 10px;
    height: 200px;
    width: 70%;
    margin: 5px auto 15px auto;
}

.contact_form_submit input {
    background-color: #9DFFB7;
    color: black;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 40px;
    margin: 5px auto 10px auto;
}


/* TICKETS PAGE */

.ticket_images {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.single_ticket {
    background-color: #9DFFB7;
}

.tickets {
    color: black;
    margin-bottom: 30px;
}

.tickets h2 {
    font-size: 20px;
    margin: 0 auto;
}

.ticket_prices {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.per_person {
    font-size: 10px;
    font-style: italic;
}

.family_ticket {
    background-color: #8FF1FF;
}

.school_ticket {
    background-color: #FFFE81;
}
